@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  --nav-height: 50px;
  /* padding-top: var(--nav-height); */
}

/* header style start */
header {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  top: 0;
  left: 0;
  background: #003334ff;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

header .logo a {
  display: flex;
  align-items: center;
  cursor: pointer;
}
header .logo img {
  width: 5em;
}

header .logo h3 {
  color: #fff;
  font-size: 25px;
}

header .navbar a {
  color: #fff;
  margin: 0 10px;
}

header .navbar a:hover{
  text-decoration: underline;
}

header #hamburger-menu {
  color: #fff;
  display: none;
}
/* 
header .navbar #hamburger-menu {
  color: #fff;
  font-size: 1rem;
  display: none;
} */

/* header style end */

/* hero image stayle start */
.hero-container {
  width: 100%;
  margin: auto;
  padding-top: 1rem;
}

.hero-container .hero-slider {
  height: 50em;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.hero-container .hero-slider .hero-list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 1s;
}

.hero-container .hero-slider .hero-list img {
  width: 1300px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}

.hero-container .hero-slider .buttons {
  position: relative;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.hero-container .hero-slider .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff55;
  border: none;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.hero-container .hero-slider .dots {
  position: absolute;
  bottom: 10px;
  color: #fff;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.hero-container .hero-slider .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
  transition: 1s;
}

.hero-container .hero-slider .dots li.active {
  width: 30px;
}

.hero .teks-berjalan {
  background-color: #003334ff;
  height: 50px;
  display: flex;
  align-items: center;
}

.hero .teks-berjalan marquee p {
  display: inline-block;
  margin: 0 auto;
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
}
/* hero image stayle end */

/* home style start */
/* .home-container {
  display: flex;
  width: 90%;
  margin: 50px auto;
}

.home-container .home-text h1 {
  color: #003334ff;
  font-size: 1.5rem;
}

.home-container .home-text p {
  margin: 1.5rem 0;
  font-size: 1rem;
  color: #003334ff;
}

.home-container .home-text .btn a {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #003334ff;
  color: #fff;
  transition: 0.3s ease;
  border-radius: 5px;
}

.home-container .home-image {
  border: 1px solid pink;
}

.home-container .home-image img {
  width: 100%;
} */

/* home style end */

/* about style start */
.about {
  width: 90%;
  margin: 0px auto;
  padding: 1.5rem 1% 1.4rem;
}

.about .about-title {
  margin: 2rem auto;
  display: inline-block;
}
h1{
  display: inline-block;
  border-bottom: 2px solid #003334ff; 
  padding-bottom: 0.5rem;
}

.about .about-title h1 {
  font-size: 1.5rem;
  color: #003334ff;
}

.about .about-container-satu {
  display: flex;
}

.about .about-container-satu .about-video {
  width: 100%;
  flex: 1 1 45rem;
  /* border: 1px solid red; */
}

.about .about-container-satu .about-text {
  flex: 1 1 45rem;
}
.about .about-container-satu .about-text p {
  text-align: justify;
  font-size: 1rem;
  margin-left: 1rem;
}

.about .about-container-satu .about-text p a {
  color: rgb(0, 64, 255);
}
/* about style end */

/* partner style start */
.partner-container {
  width: 90%;
  margin: 50px auto;
}

.partner-container .partner-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1.2rem;
}

.partner-container .partner-img .partner-kementrian img {
  width: 100%;
  border: 1px solid #d0d0d0;
}

.partner-container .partner-img .partner-bbi img {
  width: 100%;
  border: 1px solid #d0d0d0;
}

.partner-container .partner-img .partner-100 img {
  width: 100%;
  border: 1px solid #d0d0d0;
}

.partner-container .partner-img .partner-poHebat img {
  width: 100%;
  border: 1px solid #d0d0d0;
}
/* partner style end */

/* product container start */
.product {
  background-color: #ecececdd;
}

.product .product-container {
  width: 90%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  gap: 1.2rem;
}

.product .product-title {
  width: 90%;
  margin: 1rem auto;
  /* border: 1px solid red; */
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1%;
}

.product .product-title h1 {
  color: #003334ff;
  font-size: 1.5rem;
}

.product .product-container .product-content {
  max-width: 200px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  /* border: 1px solid red; */
}

.product .product-container .product-content img {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
}

.product .product-container .product-content h4,
p {
  padding: 0 0.5rem;
  color: #003334ff;
}

.product .product-container .product-content h4 {
  font-size: 1rem;
}

.product .product-container .product-content p {
  font-size: 0.8rem;
}

.product .product-container .product-content .btn {
  padding: 0 0.5rem;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
}

.product .product-container .product-content .btn .dropBtn {
  font-size: 1rem;
  border: none;
  width: 100%;
  padding: 0 0.5rem;
  margin-top: 1rem;
  margin-bottom: 10px;
  height: 2.8rem;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #003334ff;
  color: #fff;
  transition: ease 0.3s;
}

.product .product-container .product-content .btn .dropBtn:hover {
  background-color: #fff;
  color: #003334ff;
  border: 1px solid #003334ff;
}

.product .product-container .product-content .btn .dropDown {
  display: none;
  position: absolute;
  background-color: #003334ff;
  min-width: 10px;
  overflow: auto;
  z-index: 1;
}

.product .product-container .product-content .btn .dropDown p {
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
}

.product .product-container .product-content .btn .dropDown a {
  color: #fff;
  padding: 0.7rem;
  display: block;
}

.product .product-container .product-content .btn .show {
  display: block;
}

.product .product-container-2 {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 1.2rem;
}

.product .product-title-dua {
  width: 90%;
  margin: 1rem auto;
}

.product .product-title-dua h2 {
  font-size: 1.2rem;
  color: #003334ff;
}
.product .product-container-2 .product-content-2 {
  max-width: 200px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.product .product-container-2 .product-content-2 img {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

.product .product-container-2 .product-content-2 h4,
p {
  padding: 0 0.5rem;
  color: #003334ff;
}

.product .product-container-2 .product-content-2 p {
  font-size: 0.7rem;
  font-weight: 500;
}

.product .product-container-2 .product-content-2 .btn {
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.product .product-container-2 .product-content-2 .btn a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.8rem;
  box-sizing: border-box;
  background-color: #003334ff;
  font-size: 1rem;
  color: #fff;
  transition: ease 0.3s;
}

.product .product-container-2 .product-content-2 .btn a:hover {
  background-color: #fff;
  border: 1px solid #003334ff;
  color: #003334ff;
}
/* product container end */

/* platform style start */
.platform-container {
  width: 90%;
  margin: 50px auto;

}

.platform-container .platform-text h1 {
  color: #003334ff;
  margin-bottom: 10px;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.platform-container .platform-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1.2rem;
}

.platform-container .platform-img .platform-shopee img {
  width: 100%;
  border: 1px solid #d0d0d0;
}

.platform-container .platform-img .platform-tokped img {
  width: 100%;
  border: 1px solid #d0d0d0;
}

.platform-container .platform-img .platform-tikshop img {
  width: 100%;
  border: 1px solid #d0d0d0;
}
/* platform style end */

/* courier style start */
.courier {
  width: 100%;
  margin: 50px auto;
}

.courier .courier-title {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
  color: #003334ff;
}

.courier .courier-title h1 {
  font-size: 1.5rem;
}

.courier .courier-container {
  width: 90%;
  margin: 0px auto;
}

.courier .courier-container .courier-content {
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}

.courier .courier-container .courier-content .courier-image {
  width: 100%;
}

.courier .courier-container .courier-content .courier-image img {
  width: 100%;
  border: 1px solid #d0d0d0;
}
/* courier style end */

/* testi style start */
.testi-container {
  width: 90%;
  margin: 50px auto;
}

.testi-container .testi-title h1 {
  font-size: 1.5rem;
  color: #003334ff;
  margin-bottom: 1.5rem;
}

.testi-container .testi-main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  gap: 1.2rem;
}

.testi-container .testi-main .testi-content {
  width: 100%;
  height: 300px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.testi-container .testi-main .testi-content p {
  font-size: 1rem;
  padding: 1rem;
  font-style: italic;
}
/* testi style end */

/* contact style start */
.contact-container {
  width: 90%;
  margin: 0px auto;
  padding: 2rem 1% 1.4rem;
}

.contact-container .contact-title h1 {
  color: #003334ff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-bottom: 2rem;
}

.contact-container .contact-content {
  display: flex;
}

.contact-container .contact-content .maps {
  object-fit: cover;
  flex: 1 1 45rem;
  width: 100%;
}

.contact-container .contact-content .contact-main {
  width: 100%;
  flex: 1 1 45rem;
  /* border: 1px solid green; */
}
.contact-container .contact-content .contact-main .contact-form {
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin: 10 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.contact-container .contact-content .contact-main .contact-form p {
  text-align: center;
  font-size: 1rem;
}

.contact-container .contact-content .contact-main .contact-form span p {
  font-size: 1rem;
}

.contact-container .contact-content .contact-main .contact-form label {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #003334ff;
}

.contact-container .contact-content .contact-main .contact-form input {
  width: 100%;
  border: 1px solid #003334ff;
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid #003334ff;
  outline: none;
}

.contact-container .contact-content .contact-main .contact-form textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  border: 1px solid #003334ff;
  outline: none;
}

.contact-container .contact-content .contact-main .contact-form button {
  margin-top: 1rem;
  width: 20%;
  cursor: pointer;
  font-size: 1rem;
  height: 2rem;
  border: none;
  background-color: #003334ff;
  color: #fff;
  transition: ease 0.3s;
}

.contact-container .contact-content .contact-main .contact-form button:hover {
  background-color: #fff;
  color: #003334ff;
  border: 1px solid #003334ff;
}

.contact-container .contact-content .contact-main .medsos {
  padding: 10px;
  box-sizing: border-box;
}

.contact-container .contact-content .contact-main .medsos i {
  font-size: 1rem;
  margin: 0 0.5rem;
  color: #003334ff;
}

.contact-container .contact-banner {
  width: 100%;
}

.contact-container .contact-banner img {
  width: 100%;
}
/* contact style end */

/* banner style start */
.banner {
  width: 90%;
  margin: 50px auto;
  background-color: #003334ff;
  padding: 0.5rem;
  box-sizing: border-box;
}

.banner .banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.banner .banner-text p {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
}

.banner .banner-text h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin: 2rem 0;
  color: #fff;
}

.banner .banner-text .btn a {
  padding: 10px;
  background-color: #fff;
  color: #003334ff;
  transition: ease 0.3s;
}

.banner .banner-text .btn a:hover {
  background-color: #003334ff;
  color: #fff;
  border: 1px solid #fff;
}

/* banner style end */

/* cs start */
.customer-services {
  position: fixed;
  width: 200px;
  right: -20px;
  bottom: 30px;
  /* border: 1px solid blue; */
}

.customer-services a img {
  width: 90%;
}

.customer-services .cs-sm {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 150px;
}

.customer-services .cs-sm img {
  display: none;
  width: 100%;
}
/* cs end */

/* footer style start */

.footer .footer-title {
  width: 90%;
  margin: 0px auto;
}

.footer .footer-title h2 {
  font-size: 1.5rem;
  color: #003334ff;
  margin-bottom: 1rem;
  padding-left:0.3rem;
}

.footer .footer-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer .footer-content .footer-content-1 {
  line-height: 1.5rem;
  /* border: 1px solid red; */
}

.footer .footer-content .footer-content-1 p {
  font-size: 1rem;
}

.footer .footer-content .footer-content-1 .medsos {
  margin: 0 5px;
}

.footer .footer-content .footer-content-1 .medsos a i {
  color: #003334ff;
  margin: 0 0.2rem;
  font-size: 1rem;
}

.footer .footer-content .footer-content-2 p {
  font-size: 1rem;
}

.footer .footer-content .footer-content-2 {
  max-width: 200px;
  /* border: 1px solid red; */
}

.footer .footer-content .footer-content-2 img {
  width: 5rem;
  /* align-items: center;
  display: flex; */
  
}

.footer .footer-content .footer-content-3 p {
  font-size: 1rem;
}

.footer .footer-content .footer-content-3 p.noRek {
  font-size: 0.8rem;
  font-weight: 300;
}

.footer .footer-content .footer-content-3 {
  /* border: 1px solid red; */
  line-height: 1.2rem;
  max-width: 200px;
}

.footer .footer-content .footer-content-3 img {
  width: 5rem;
  margin-left: 5px;
  /* border: 1px solid black; */
}

.footer .cr {
  width: 90%;
  margin: 0 auto;
  font-size: 1rem;
}
/* footer style end */

/* responsive  */

/* desktop view */
@media (max-width: 1366px) {
  html {
    font-size: 100%;
  }
}
/* desktop view */

/* tablet view */
@media (max-width: 820px) {
  html {
    font-size: 62.5%;
  }

  header .logo img {
    width: 45px;
  }

  header .logo h3 {
    font-size: 10px;
    /* display: none; */
  }

  .about .about-container-satu {
    flex-wrap: wrap;
    display: flex;
  }

  .about .about-container-satu .about-video {
    margin: 0 auto;
    width: 100%;
  }

  .about .about-container-satu .about-text {
    margin-top: 10px;
  }

  .hero-container .hero-slider {
    height: 350px;
  }

  .hero-container .hero-slider .dots li {
    margin: 15px;
  }

  .product .product-container .product-content {
    width: 150px;
  }

  .product .product-container-2 .product-content-2 {
    width: 150px;
  }

  .contact-container .contact-content {
    flex-wrap: wrap;
  }

  .contact-container .contact-content .maps iframe {
    height: 30rem;
  }

  .testi-container .testi-main {
    flex-wrap: wrap;
  }

  .testi-container .testi-main .testi-content {
    height: auto;
  }

  .testi-container .testi-main .testi-content p {
    padding: 0.5rem;
  }

  .banner .banner-text {
    margin: 10px;
  }

  .banner .banner-text p {
    font-size: 1rem;
  }

  .banner .banner-text h2 {
    font-size: 2rem;
  }

  .banner .banner-text .btn a {
    padding: 5px;
    font-size: 1rem;
  }

  .customer-services {
    width: 170px;
  }
}
/* tablet view */

/* mobile view */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  header .logo {
    margin-right: 10px;
  }

  header .logo img {
    width: 50px;
  }

  header .logo h3 {
    font-size: 10px;
    display: none;
  }

  header #hamburger-menu {
    display: inline-block;
    margin-right: 10px;
    font-size: 2rem;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #003334ff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  header .navbar.active {
    right: 0;
  }

  header .navbar a {
    color: #fff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1rem;
  }

  .hero-container .hero-slider {
    height: 180px;
  }

  .hero-container .hero-slider .buttons button {
    width: 25px;
    height: 25px;
    margin: 10px;
  }

  .hero-container .hero-slider .dots li.active {
    width: 10px;
  }

  .hero-container .hero-slider .dots li {
    width: 5px;
    height: 5px;
    margin: 10px;
  }

  .about .about-container-satu .about-video iframe {
    height: 200px;
  }

  .product .product-container {
    justify-content: center;
  }

  .product .product-container .product-content {
    width: 100px;
  }

  .product .product-container .product-content .btn button {
    font-size: 1rem;
  }

  .product .product-container .product-content .btn .dropBtn {
    height: 2rem;
  }

  .product .product-container-2 .product-content-2 {
    width: 100px;
  }

  .product .product-container-2 .product-content-2 .btn a {
    height: 2rem;
  }

  .product .product-container-2 {
    justify-content: center;
  }

  .contact-container .contact-content .maps iframe {
    height: 180px;
  }

  .customer-services a img {
    display: none;
  }

  .customer-services .cs-sm img {
    display: inline-block;
  }

  .footer .footer-content {
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
  }

  .footer .footer-content .footer-content-1 {
    margin-bottom: 1rem;
  }
  .footer .footer-content .footer-content-2 {
    margin-bottom: 1rem;
  }
  .footer .footer-content .footer-content-3 {
    margin-bottom: 1rem;
  }
}
/* mobile view */
